/* css example classes */

.wb-player__size{
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction:column;
  box-shadow: 0 0 30px grey;
}

.wb-player__btn-backing-color{
  background-color:black;
}

.wb-player__btn{
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
  width: 30px;
}

.wb-player__i {
  color: white;
}

.wb-player__container{
  display: flex;
  flex-direction:row;  
}

.wb-player__div{
  flex-grow: 1;
}