/* css example classes */

.player .button-backing-color{
  background-color:black;
}

.player .size-window-player{
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction:column;
  box-shadow: 0 0 30px grey;
}

.player .js-play-button {
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
}

.player .js-pause-button {
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
}

.player .js-volume-button{
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
}

.player .js-mute-button{
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
}

.player i {
  width: 10px;
  height: 14px;
  color: white;
}

.player .js-video-container{
  width: 100%; 
  height: 100%;
}