/* css example classes */

.player .button-backing-color{
  background-color:black;
}

.player .size-window-player{
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction:column;
  box-shadow: 0 0 30px grey;
}

.player button{
  background-color:black;
  cursor: pointer;
  border-style: none;
  font-size: 14pt;
  width: 30px
}

.player i {
  color: white;
}

.player .container-button{
  display: flex;
  flex-direction:row;  
}

.player .container-button div{
  flex-grow: 1;
}