/* css example classes */

.player .button-backing-color{
  background-color:black;
}

.player .size-window-player{
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.player .js-play-button {
  background-color:black;
  cursor: pointer;
  border-style: none;
}

.player .js-pause-button {
  background-color:black;
  cursor: pointer;
  border-style: none;
}

.player i {
  width: 10px;
  height: 14px;
  color: white;
}

.js-video-container{
  width: 100%; 
  height: 100%;
}